/* Stili per tabelle */
.ElaboratiProgettuali,
.CoerenzaElaborati {
width: 85%;
table-layout: fixed;
margin: 0 auto;
border-collapse: collapse;
}

.ElaboratiProgettuali th,
.CoerenzaElaborati th {
background-color: #f2f2f2;
text-align: center;
padding: 10px;
word-wrap: break-word;
}

.ElaboratiProgettuali td,
.CoerenzaElaborati td {
border: 1px solid #000;
text-align: center;
padding: 8px;
word-wrap: break-word;
}