/* Stili per tabelle */
.RegoleModellazione,
.ElementOffsetTabella,
.VerificaLocaliTabella {
width: 85%;
table-layout: fixed;
margin: 0 auto;
border-collapse: collapse;
}

.RegoleModellazione th,
.ElementOffsetTabella th,
.VerificaLocaliTabella th {
background-color: #f2f2f2;
text-align: center;
padding: 10px;
word-wrap: break-word;
}

.RegoleModellazione td,
.ElementOffsetTabella td,
.VerificaLocaliTabella td {
border: 1px solid #000;
text-align: center;
padding: 8px;
word-wrap: break-word;
}

/* Bottoni per la paginazione */
.pagination-ElementOffset,
.pagination-VerificaLocali {
display: flex;
justify-content: center;
margin-top: 30px;
}

.pagination-ElementOffset button,
.pagination-VerificaLocali button {
margin: 0 10px;
padding: 10px 15px;
border: none;
border-radius: 10px;
background-color: lightgray;
cursor: pointer;
}

.pagination-ElementOffset button:hover,
.pagination-VerificaLocali button:hover {
background-color: gray;
}

/* Grafico Istogramma */
#ElementOffsetAsBarChart {
max-width: 50%;
margin: 20px auto;
display: block;
}

/* Grafico a Torta */
#VerificaLocaliGraficoATorta {
max-width: 25%;
width: 25%;
margin: 0 auto;
display: block;
}