/* Stili per tabelle */
.GriglieELivelli,
.MonitorTabella,
.NomenclaturaGriglieLivelliTabella,
.LivelliMEPTabella {
    width: 90%;
    table-layout: fixed;
    margin: 0 auto;
    border-collapse: collapse;
}

.GriglieELivelli th,
.MonitorTabella th,
.NomenclaturaGriglieLivelliTabella th,
.LivelliMEPTabella th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

.GriglieELivelli td,
.MonitorTabella td,
.NomenclaturaGriglieLivelliTabella td,
.LivelliMEPTabella td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
}
/* Stili per checkbox disabilitati */
input[type="checkbox"][disabled] {
  opacity: 1;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  appearance: none;
}

input[type="checkbox"][disabled]:checked {
  background-color: #008000;
  border: 2px solid #008000;
}

input[type="checkbox"][disabled]:not(:checked) {
  background-color: #ff6384;
  border: 2px solid #ff6384;
}

input[type="checkbox"][disabled]:checked::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"][disabled]:not(:checked)::after {
  content: "X";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination-Monitor,
.pagination-NomenclaturaGriglieLivelli,
.pagination-LivelliMEP {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination-Monitor button,
.pagination-NomenclaturaGriglieLivelli button,
.pagination-LivelliMEP button {
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
}

.pagination-Monitor button:hover,
.pagination-NomenclaturaGriglieLivelli button:hover,
.pagination-LivelliMEP button:hover { 
  background-color: gray;
}

.pagination-Monitor button:active,
.pagination-NomenclaturaGriglieLivelli button:active,
.pagination-LivelliMEP button:active {
  background-color: #ccc;
}

/* Grafico Istogramma */
#MonitorAsBarChart,
#NomenclaturaGriglieLivelliAsBarChart,
#LivelliMEPAsBarChart {
  margin: 20px auto;
  display: block;
  max-width: 90%;
}