/* Stili per tabelle */
.GeoreferenziazioneEOrientamento,
.LatLong,
.Coordination,
.CoordinateCondivise,
.NordReale {
width: 85%;
table-layout: fixed;
margin: 0 auto;
border-collapse: collapse;
}

.GeoreferenziazioneEOrientamento th,
.LatLong th,
.Coordination th,
.CoordinateCondivise th,
.NordReale th {
background-color: #f2f2f2;
text-align: center;
padding: 10px;
word-wrap: break-word;
}

.GeoreferenziazioneEOrientamento td,
.LatLong td,
.Coordination td,
.CoordinateCondivise td,
.NordReale td {
border: 1px solid #000;
text-align: center;
padding: 8px;
word-wrap: break-word;
}